.OTP-form-box,
.final-form-box,
.login-form-dilog {
  .button-style {
    margin-bottom: 20px;
    .MuiButton-root {
      background: white;
      color: #ed4039;
      padding: 10px 40px;
      // font-family: proximaNova;
      border: 1px solid #ed4039;
      &:hover {
        color: white;
        background: #ed4039;
        border: 1px solid #ed4039;
      }
    }
  }
  .texfiled-width {
    width: 250px;
  }
  .otp-input-style {
    input {
      width: 40px !important;
      height: 40px;
      margin: 0 20px;
      border-radius: 5px;
      border: 1px solid black;
    }
  }
  .resend-option {
    cursor: pointer;
    color: #283891;
  }
  .checkbox-style {
    display: inline-flex !important;
    .MuiButtonBase-root {
      padding: 0 !important;
    }
    .MuiFormControlLabel-root {
      margin: 0;
    }
    .MuiIconButton-label {
      color: rgba(0, 0, 0, 0.54);
    }
    .MuiIconButton-colorSecondary {
      color: #ed4039 !important;
    }
  }
  .closebutton {
    svg {
      font-size: 18px;
      color: #000000;
    }
    button {
      &:focus {
        outline: none;
      }
    }
  }
}
