body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // font-family: myFirstFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:focus {
  outline: none;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #ef4036 !important;
}
@import "./Scss/index.scss";
.MuiButtonBase-root {
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
}
