.cart-style {
  padding: 30px 0 50px;
  .card-style {
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background: $greybg;
    border-radius: 5px;
    .card-header {
      padding: 12px 0;
      font-size: 14px;
      font-weight: bold;
      background: transparent;
      h2 {
        margin-bottom: 5px;
      }
    }
    .card-body {
      .item-list-style {
        min-height: 150px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .service-header {
          text-transform: uppercase;
          p {
            font-size: 12px;
            color: #9a9b9d;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
        .itemlist-style {
          .item-name {
            flex-direction: row-reverse;
            svg {
              margin: 4px 5px;
              cursor: pointer;
            }
          }
          text-transform: uppercase;
          p {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
          }
        }
      }
      .Promocode-style {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .itemlist-style {
          text-transform: uppercase;
          p {
            font-size: 12px;
            color: #9a9b9d;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
        }
      }
      .grandtotla-style {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .itemlist-style {
          text-transform: uppercase;
          p {
            font-size: 12px;
            color: #9a9b9d;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
          .money {
            color: $black;
          }
        }
      }
      .total-style {
        padding: 10px 15px 0;
        .itemlist-style {
          text-transform: uppercase;
          p {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .deatils-button-two {
    button {
      border: 2px solid $red;
      background: $red;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      color: $white;
      padding: 5px 20px;
      border-radius: 2px;
      text-transform: uppercase;
      &:focus:active {
        background: $red;
        box-shadow: none;
      }
    }
  }
}
.adress-style {
  padding: 30px 0 50px;
  // margin: 0 100px;
  .texrarea-style {
    .MuiInputBase-root {
      background: $white;
    }
  }
  .Promocode-style {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    .itemlist-style {
      text-transform: uppercase;
      p {
        font-size: 12px;
        color: #9a9b9d;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 5px;
      }
    }
  }
  .date-picker {
    .row-box {
      margin: auto;
      width: fit-content;
      // .MuiToggleButton-root {
      //   padding: 5px 15px;
      //   margin: 0 10px;
      //   cursor: pointer;
      //   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
      //     0 3px 10px rgba(0, 0, 0, 0.15);
      //   background: $white !important;
      //   border: none;
      //   color: $black !important;
      //   &:focus {
      //     outline: none;
      //   }
      //   p {
      //     font-size: 14px;
      //     margin: 4px 10px;
      //   }
      // }

      .inner-box {
        padding: 0 25px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        background: $white;
        color: $black;
        &:focus {
          outline: none;
        }
        p {
          padding: 10px;
          font-size: 14px;
          font-weight: 500;
          margin: 0;
        }
      }
      .Mui-selected {
        background: $red !important;
        border: none !important;
        color: $white !important;
        box-shadow: none !important;
      }
    }
  }
  .card-style {
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background: $greybg;
    border-radius: 5px;
    .card-header {
      padding: 12px 0;
      font-size: 14px;
      font-weight: bold;
      background: transparent;

      h2 {
        font-size: 18px;
        margin-bottom: 5px;
      }
      .addtext {
        .MuiIconButton-colorPrimary {
          color: #9a9b9d;
          &:hover {
            background: none;
          }
        }
        .MuiIconButton-root {
          font-size: 14px;
        }

        button {
          // font-family: proximaNova !important;
          &:focus {
            outline: none;
          }
        }
      }
      .dropoff-pickup-style {
        .MuiToggleButton-root {
          padding: 5px 15px;
          margin: 0 10px;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
            0 3px 10px rgba(0, 0, 0, 0.15);
          background: $white !important;
          border: none;
          color: $black !important;
          &:focus {
            outline: none;
          }
          p {
            font-size: 14px;
            margin: 4px 10px;
          }
        }
        .Mui-selected {
          background: $red !important;
          border: none !important;
          color: $white !important;
          box-shadow: none !important;
        }
      }
    }
    .cart-total {
      border-bottom: none;
    }
    .card-body {
      .address-min-height {
        max-height: 350px;
        min-height: 300px;
        overflow: auto;
      }
      .address-Card {
        padding: 10px;
        background: $white;
        .card-header {
          padding: 0 0 5px;
        }
        .address-body {
          padding: 5px 0 0;
          .Address {
            margin: 0 2.5px 8px;
            span {
              margin: 0 2.5px 8px;
            }
          }
          .innerlabel {
            font-weight: 700;
            padding: 0;
            margin-bottom: 5px;
            font-size: 14px;
          }
          .name {
            margin: 0 10px 0px 5px;
          }
          p {
            font-size: 14.5px;
          }
        }
      }
      .item-list-style {
        min-height: 150px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .service-header {
          text-transform: uppercase;
          p {
            font-size: 12px;
            color: #9a9b9d;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }
        .itemlist-style {
          text-transform: uppercase;
          p {
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;
          }
        }
      }
      .Promocode-style {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .itemlist-style {
          text-transform: uppercase;
          p {
            font-size: 12px;
            color: #9a9b9d;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
        }
      }

      .grandtotla-style {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        .itemlist-style {
          text-transform: uppercase;
          p {
            font-size: 12px;
            color: #9a9b9d;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
          .money {
            color: $black;
          }
        }
      }
      .total-style {
        padding: 10px 15px 0;
        .itemlist-style {
          text-transform: uppercase;
          p {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  .deatils-button-two {
    button {
      border: 2px solid $red;
      background: $red;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      color: $white;
      padding: 5px 20px;
      border-radius: 2px;
      text-transform: uppercase;
      &:focus:active {
        background: $red;
        box-shadow: none;
      }
    }
  }
}
.conform-style {
  padding: 50px 0;
  .card-style {
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    background: $greybg;
    border-radius: 5px;
    text-align: center;
    .card-body {
      h2 {
        color: $titlecolor;
      }
      p {
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
      }
      h3 {
        color: $subtitle;
      }
    }
  }
  .homebutton {
    text-align: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      padding: 10px 25px;
      background: $red;
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.disscount-price {
  text-decoration: line-through;
  padding-right: 5px;
}
.Cart-details {
  text-transform: uppercase;
  p {
    font-size: 12px;
    color: #9a9b9d;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .pickupdetails {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: fit-content;
    background: $white;
    padding: 5px 10px;
    p {
      color: $black;
      margin-bottom: 5px;
      .date {
        padding: 0 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.125);
      }
      .time {
        padding: 0 10px;
      }
    }
  }
  .address-details {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background: $white;
    padding: 5px 10px;
    h3 {
      font-size: 12px;
      font-weight: 700;
    }
    p {
      font-size: 12px;
      font-weight: 500;
      color: $black;
      margin-bottom: 5px;
    }
  }
}
.promocode-style-textfiled {
  .MuiFormControl-root {
    width: 65%;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 0;
  }
  .MuiTextField-root {
    margin-top: 0.5px;
    .Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: rgba(0, 0, 0, 0.15);
        border-radius: 0;
      }
    }
  }
  .MuiOutlinedInput-input {
    padding: 10px;
  }
  .btn {
    margin-left: 5px;
    padding: 8.3px 16px;
  }
}
.datepicker-style {
  #container {
    margin: 2px 5px 2px;
    div {
      margin-left: 0 !important;
      div {
        height: 50px !important;
      }
    }
  }
}
.dilog-width {
  .MuiDialogContent-root {
    min-width: 300px;
  }
}
.doorstep-note {
  p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.button-extra-margin-left {
  margin-left: 15%;
}
.col-mobile-padding {
  padding: 0 !important;
}
@media only screen and (max-width: 767px) {
  .cart-style {
    margin: 0 0 !important;
  }
  .adress-style {
    .card-style {
      .card-header {
        .dropoff-pickup-style {
          .MuiToggleButton-root {
            padding: 7px;
          }
        }
      }
    }
    .date-picker {
      .row-box {
        .MuiToggleButtonGroup-root {
          display: block;
        }
        .inner-box {
          width: 100%;
          margin: 0 0 10px;
        }
      }
    }
    .deatils-button-two button {
      width: 160px;
    }
  }
  .col-mobile-padding {
    padding: 0 15px !important;
  }
  .button-extra-margin-left {
    margin-left: 0 !important;
  }
}
