.mb-50 {
  margin-bottom: 50px;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mr-50 {
  margin-right: 50px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-50 {
  margin-left: 50px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-10 {
  margin-left: 10px !important;
}

@media screen and (max-width: 767px), screen and (max-width: 785px) {
  .m-m-0 {
    margin: 0 !important;
  }
  .m-mb-50 {
    margin-bottom: 50px;
  }
  .m-mb-40 {
    margin-bottom: 40px !important;
  }
  .m-mb-30 {
    margin-bottom: 30px !important;
  }
  .m-mb-20 {
    margin-bottom: 20px !important;
  }
  .m-mb-10 {
    margin-bottom: 10px !important;
  }
  .m-mt-50 {
    margin-top: 50px !important;
  }
  .m-mt-40 {
    margin-top: 40px !important;
  }
  .m-mt-30 {
    margin-top: 30px !important;
  }
  .m-mt-20 {
    margin-top: 20px !important;
  }
  .m-mt-10 {
    margin-top: 10px !important;
  }
  .m-mr-50 {
    margin-right: 50px !important;
  }
  .m-mr-40 {
    margin-right: 40px !important;
  }
  .m-mr-30 {
    margin-right: 30px !important;
  }
  .m-mr-20 {
    margin-right: 20px !important;
  }
  .m-mr-10 {
    margin-right: 10px !important;
  }
  .m-ml-50 {
    margin-left: 50px !important;
  }
  .m-ml-40 {
    margin-left: 40px !important;
  }
  .m-ml-30 {
    margin-left: 30px !important;
  }
  .m-ml-20 {
    margin-left: 20px !important;
  }
  .m-ml-10 {
    margin-left: 10px !important;
  }
  .m-p-0 {
    padding: 0 !important;
  }
}
// Banner Style End
