.header {
  z-index: 1;
  width: 100%;
  position: relative;
  .navbar {
    padding: 1rem 1rem;
  }
  .list-style-button {
    list-style: none;
  }
  .navbar-brand {
    margin-left: 20px;
    img {
      height: 60px;
    }
  }
  .mobile {
    display: none;
  }
  .upper-menu {
    position: absolute;
    top: 15px;
    // right: 165px;
    margin-right: 0;
    margin-left: -10px;

    .login-button {
      background: #283890;
      text-align: center;
      font-size: 12px;
      border-radius: 5px;
      text-transform: uppercase;
      padding: 3px 25px;
      width: 100px;
      color: #ffffff;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      a {
        text-decoration: none;
        // color: #ffffff;
        &:hover {
          text-decoration: none;
        }
      }
    }
    a {
      color: #ef4133;
      &:hover {
        text-decoration: none;
        color: #ef4133;
      }
    }
    .Cart-button {
      cursor: pointer !important;
      .MuiButton-root {
        cursor: pointer;
        border: 1px solid #ef4133;
        text-align: center;
        font-size: 12px;
        border-radius: 5px;
        text-transform: uppercase;
        padding: 3px 20px;
        width: auto;
        text-decoration: none;
        color: #ef4133;
        background: transparent;
        &:focus {
          outline: none !important;
        }
        button {
          &:focus {
            outline: none !important;
          }
        }
      }
      .MuiButton-outlinedSecondary {
        border: 1px solid #ef4133;
        color: #ef4133;

        .MuiButton-outlined {
          padding: 2px 15px;
          outline: none !important;
        }
      }
      .MuiButton-outlinedSecondary {
        .Mui-disabled {
          border: 1px solid #ef4133;
          cursor: pointer;
        }
      }
      .MuiButton-outlined {
        padding: 2px 15px;
        outline: none !important;
      }
    }
  }
  .menutoggle {
    &:focus {
      outline: none;
    }
  }
  .menu-items {
    .nav-item {
      margin: 15px 15px 0;
      .nav-link {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .select-style {
    margin-right: 18px;
    .MuiFormControl-marginDense {
      margin: 0;
    }
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"][class*="MuiOutlinedInput-marginDense"] {
      padding: 3px 65px 3px 3px;
    }
    .MuiFormLabel-root {
      font-size: 12px;
      margin-bottom: 0;
      margin-top: -3px;
    }
    .MuiInputBase-root {
      font-size: 12px;
      .MuiInputBase-input {
        font-size: 12px;
        height: 12px;
      }
      .MuiAutocomplete-endAdornment {
        top: unset;
      }
    }
  }
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.margin-right-zero {
  margin-right: 0 !important;
}
.padding-right-zero {
  padding-right: 0 !important;
}

.autocomplete-style {
  .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
    min-width: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .containar-margin {
    margin: 0 !important;
    .mobile-logo-menu {
      width: 100%;
      justify-content: space-between;
    }
  }
  .Cart-button {
    padding: 0 !important;
  }
  .upper-menu {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    .login-button {
      width: 100% !important;
      padding: 5px 50px;
    }
    .Cart-button {
      width: 100% !important;
      padding: 5px 50px;
    }
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .select-style {
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"][class*="MuiOutlinedInput-marginDense"] {
      padding: 6px !important;
    }
    .MuiFormLabel-root {
      font-size: 1rem !important;
      margin-bottom: unset !important;
      margin-top: unset !important;
    }
    .MuiInputBase-root {
      font-size: 1rem !important;
      .MuiInputBase-input {
        font-size: 1rem !important;
        height: 1.1876em !important;
      }
    }
  }
}
