.app-login-container {
  position: relative;
  max-width: 680px;
  width: 94%;
  margin: 20% auto 0;
}
.app-login-main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 14px;
  overflow: hidden;
}
.app-login-content {
  padding: 35px 35px 20px;
}
